/*  COLORS
    cyan =       #D6FFF6
    turquoise =  #4DCCBD
    blue =       #2374AB
    violet =     #231651

*/

@font-face {
    font-family: roboto;
    src: url('./assets/font/Roboto/Roboto-Regular.ttf');
  }
*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    color: black;
}

.app{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 100vw;
    max-width: 1440px;
}

ul{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}